// light mode colors
// background colors
$clr-light-blue: #5e54f6;
$clr-light-pink: #f6a5cb;
$clr-light-orange: #ec7f54;
// primary colors
$clr-light-white: #ffffff;
$clr-light-black: #000000;
$clr-light-gray: #838383;
// list colors
$clr-light-lightBlue: #d5e8fa;
$clr-light-darkGray: #4e4e4e;
$clr-light-lightgGray: #eaeaea;
// buttons colors
$clr-light-lightRed: #fd6464;
$clr-light-darkRed: #973c3c;
$clr-light-lightBlue: #abb2ff;
$clr-light-darkBlue: #5d62c0;

// dark mode colors
// background colors
$clr-dark-darkPurple: #2c1b4d;
$clr-dark-purple: #50224f;
$clr-dark-darkOrange: #6e2f41;
// primary colors
$clr-dark-white: #ffffff;
$clr-dark-lightGray-Blue: #e0e0f0;
// list colors
$clr-dark-black: #2a2a3d;
$clr-dark-darkBlue: #3e3e5a;
$clr-dark-Gray: #6c6c6c;
$clr-dark-lightGray: #d9d9d9;
// buttons colors
$clr-dark-lightRed: #c84242;
$clr-dark-darkRed: #651d1d;
$clr-dark-lightBlue: #7f86d2;
$clr-dark-darkBlue: #4a4e94;
